.statusbar, .statusbar * {
    -fx-fill: white;
    -fx-text-fill: white;
}

.statusbar .statusbar_slider {
    //-fx-padding: 9px 0 0 0;
}

.statusbar .statusbar_slider .track { // Slider Bahn
    -fx-padding: 0 0 1px 0;
    -fx-background-color: white;
}

.statusbar .statusbar_slider .thumb { // Slider-Knopf
    -fx-border-radius: 100%;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 4;
    -fx-effect: none;
}

.statusbar .statusbar_slider:focused .thumb {
    -fx-background-color: white;
    -fx-border-radius: 100%;
    -fx-background-insets: 0;
}

.statusbar .statusbar_icon {
    -fx-background-color: transparent;
}