.scrollpane, .scrollpane:focused {
    -fx-background-insets: 0;
    -fx-padding: 5 0 5 5;
    -fx-hbar-policy: never;
    -fx-vbar-policy: as-needed;
}

.scrollpane .scroll-bar:vertical, .scrollpane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scrollpane .scroll-bar:vertical .decrement-button, .scrollpane .scroll-bar:vertical .decrement-button > *,
.scrollpane .scroll-bar:vertical .increment-button, .scrollpane .scroll-bar:vertical .increment-button > * {
    -fx-background-color: transparent;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
}

.scrollpane .scroll-bar .thumb {
    -fx-background-radius: 50px;
    -fx-background-insets: 0 2 0 5;
    -fx-background-color: rgba(0,0,0,0.5);
}

.artist_label, .album_label {
    -fx-font-family: sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.song_table {
    -fx-fixed-cell-size: 2em;
}

.song_table .column-header-background {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    visibility: hidden;
}

.song_table, .song_table:focused{
   -fx-background-color: transparent;
}

.song_table .table-row-cell:selected, .table-cell:selected, .table-row-cell:focused {
    -fx-background-color: #FA7D38;
}

.song_table .table-row-cell:filled:selected, .table-cell:selected, .table-row-cell:focused {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: #FA7D38;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: #FA7D38;
}

.song_table .table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.song_table.table-row-cell:odd:filled:selected {
    -fx-background-color: #FA7D38;
}

